@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222222;
}

h6 {
    font-size: 12px;
    font-weight: 700;
}

p {
    font-size: 16px;
    color: #465b52;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}

body {
    width: 100%;
}

/* Header */

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #E3E6F3;
    box-shadow: 0 5px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: #088178;
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30px;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#mobile {
    display: none;
    align-items: center;
}

#close {
    display: none;
}

/* Pagina Inicio */
#banner {
    background-image: url("/images/banner.png");
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#banner h4 {
    padding-bottom: 15px;
}

#banner h1 {
    color: #088178;
}

#banner button {
    font-size: 15px;
    font-weight: 700;
    padding: 14px 60px;
    color: #088178;
    background-color: #FFFFFF;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

#banner button:hover {
    background: #088178;
    color: #FFFFFF;
}

/* Pagina Tienda */
#product {
    text-align: center;
}

#product .pro-container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#product .pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #CCE7D0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

#product .pro:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#product .pro img{
    width: 100%;
    border-radius: 20px;
}

#product .pro .des {
    text-align: start;
    padding: 10px 0;
}

#product .pro .des span {
    color: #606063;
    font-size: 12px;

}

#product .pro .des h5 {
    padding-top: 7px;
    color: #1A1A1A;
    font-size: 14px;
}

#product .pro .des i {
    font-size: 12px;
    color: #F3B519FF;
}

#product .pro .des h4 {
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}

#product .pro .cart {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #E8F6EA;
    font-weight: 500;
    color: #088178;
    border: 1px solid #CCE7D0;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

input {
    border-style: none;
    background: transparent;
    outline: none;
}

.search-btn {
    padding: 0;
    background: none;
    border: none;
    outline: none;
}

.search-input {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 400px;
    margin: 50px;
    border-radius: 4px;
    padding: 15px 20px;
    background: #FFFFFF;
}

.search-input:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    height: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    background: #088178 0 0;
}

.search-input input {
    flex-grow: 1;
    color: #494949;
    font-size: 18px;
    vertical-align: middle;
}

.search-input input::-webkit-input-placeholder {
    color: #494949;
}

.search-input button {
    color: #494949;
    font-size: 14px;
    line-height: 18px;
    vertical-align: middle;
    transition: color .25s;
}

.contenedor-menu {
    text-align: start;
    width: 20%;
    min-width: 300px;
    margin: 50px;
    /*display: inline-block;*/
    line-height: 18px;
}

.contenedor-menu .menu {
    width: 100%;
}

.contenedor-menu ul {
    list-style: none;
}

.contenedor-menu .menu li a {
    color: #494949;
    display: block;
    padding: 15px 20px;
    background: #E9E9E9;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}

.contenedor-menu .menu li a:hover {
    background: #088178;
    color: #FFFFFF;
}

.contenedor-menu .menu i {
    font-size: 12px;
    line-height: 18px;
    float: right;
    margin-left: 10px;
}

.contenedor-menu .menu ul li a {
    background: #F5F5F5;
    color: #222222;
}

#pagination {
    text-align: center;
}

#pagination a {
    text-decoration: none;
    background-color: #088178;
    padding: 15px 20px;
    border-radius: 4px;
    color: #FFFFFF;
    font-weight: 600;
}

#pagination a i {
    font-size: 16px;
    font-weight: 600;

}

/* Start Media Query */
@media (max-width: 799px) {
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #E3E6F3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: 0.3s;
    }
    #navbar.active {
        right: 0;
    }

    #navbar li {
        margin-bottom: 25px;
    }

    #mobile {
        display: flex;
        align-items: center;
    }

    #mobile i {
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;

    }

    #close {
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222222;
        font-size: 24px;
    }

    #lg-bag {
        display: none;
    }

}

@media (max-width: 477px) {
    #header {
        padding: 10px 30px;
    }

    h1 {
        font-size: 38px;
    }

    h2 {
        font-size: 32px;
    }

    #banner {
        padding: 0 20px;
        background-position: 55%;
    }

    #product .pro {
        width: 100%;
    }

    .contenedor-menu {
        min-width: 200px;
        margin: 10px;
    }

    .search-input {
        min-width: 200px;
        margin: 10px;
        padding: 15px 10px;
    }
}
